@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
}

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input {
  outline: none;
}

nav {
  top: 10px;
  left: 20px;
  right: 20px;
  position: fixed;
  display: flex;
  justify-content: end;
  z-index: 4;
}

section {
  width: 100%;
  height: 100vh;
  z-index: 2;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.align {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home {
  background: rgb(48, 58, 82);
  background: radial-gradient(circle, rgba(48, 58, 82, 1) 0%, rgba(48, 58, 82, 1) 10%, rgba(30, 38, 56, 1) 100%);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__title {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 48px;
}

.btn {
  background-color: #fc85ae;
  color: white;
  cursor: pointer;
}

.btn-small {
  padding: 4px 12px;
  background-color: #fc85ae;
  cursor: pointer;
  border-radius: 5px;
  color: white;
}

.btn,
.name {
  padding: 10px 20px;
  width: 250px;
  text-align: center;
  margin: 5px 0;
  border-radius: 10px;
  border: none;
}

.btn:hover, .btn-small:hover {
  background-color: #d45280;
}

.btn:active, .btn-small:active {
  transform: scale(1.02);
}

.name:focus {
  border: 3px #fc85ae solid;
}

.name {
  border: 3px #00000000 solid;
  transition: border ease 0.2s;
  color: rgb(48, 58, 82);
}

.login {
  position: fixed;
  top: 0;
  left: 0;
}

.login__card {
  height: 600px;
  width: 400px;
  background-color: rgb(50, 60, 85);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
}

.profile__img {
  border-radius: 100%;
  height: 50px;
  width: 50px;
  margin-left: 12px;
}

.game {
  background-color: rgb(48, 58, 82);
}





@media (max-width: 500px) {
  
  nav {
    bottom: 10px;
    top: unset;
    display: flex;
    justify-content: center;
  }

  nav div.align {
    flex-direction: row-reverse;
  }

  .profile__img {
    margin-left: 0;
    margin-right: 10px;
  }

}